<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/reset.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/apicss.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/apimedia.css') }}" rel="stylesheet">
    <script src='../static/js/jquery-3.5.1.min.js'></script>
    <script src="../static/js/publicapi.js"></script>
    <title>Document</title>
</head>

<body>
    <header>
    </header>
    <div id="wrapper">
        <div class="title">
            공공 데이터 Open API 데이터 요청
        </div>
        <div id="insert">
            <div class="insertsection box-shadow">
                <div class="subtitle">
                    요청 변수 입력
                </div>
                <div class="inputsection">
                    <div class="keyvalue">
                        <label for="url">
                            URL
                        </label>
                        <input type="text" id="url">
                    </div>
                    <div class="keyvalue">
                        <label for="key">
                            서비스키
                        </label>
                        <input type="text" id="key">
                    </div>
                    <div class="keyvalue">
                        <label for="key">
                            요청 변수
                        </label>
                        <input type="text" class="req_data">
                        <input type="text" class="req_data">
                    </div>
                    <div class="keyvalue" index="0">
                        <label for="key">
                            요청 변수
                        </label>
                        <div class="delete btn-click" cnt="0">
                            <span></span>
                            <span></span>
                        </div>
                        <input type="text" class="req_data">
                        <input type="text" class="req_data">

                    </div>

                    <div id="addinput" class="box-shadow btn-click">
                        요청 변수 추가
                    </div>

                </div>


            </div>
            <div id="senddata" class="box-shadow btn-click">
                데이터 전송

            </div>




        </div>
        <div id="datatable" class="box-shadow">
            <div class="infortitle subtitle">
                이용방법
            </div>
            <div class="tablesection">
                <p>
                    요청 변수 입력란<br />
                    <br />
                    url : 서비스 요청 open API URL을 입력해주세요.
                    <br />
                    <br />
                    서비스키 : 공공 데이터 포털에서 할당 받은 서비스키를 입력해 주세요.
                    <br />
                    <br />

                    요청 변수 : 요청 파라미터와 값을 각각 입력란에 순서에 맞춰서 입력해주세요.
                    <br />
                    <br />

                    요청 하신 데이터는 csv 파일로 다운로드 받으실 수 있습니다.
                    <br />
                    <br />

                    * 다운로드는 10초 동안만 가능합니다.<br />
                    <br />
                    * 10초 이후에는 다운로드 버튼과 해당 요청 데이터 파일이 삭제 됩니다.
                </p>






            </div>
        </div>
    </div>
    <footer>ⓒ 2020. Hiiodev. ALL RIGHTS RESERVED</footer>
</body>

</html>
