{% extends 'layout.html' %}
{% block content %}
<div id="wrapper" class="move">
    <div class="title">
        <span>About</span>
    </div>
    <div id="aboutimg">
        <img src="../static/img/about/Aboutimg.jpg" alt="aboutimg">
        <div id="moto">
            <span class="moto-left-text">
                Ingenious
            </span>
            <span class="moto-right-text">
                Creativity
            </span>
            <span class="moto-left-text">
                Fast
            </span>
            <span class="moto-right-text">
                Adaptability
            </span>
            <span class="moto-left-text">
                Future
            </span>
            <span class="moto-right-text">
                Possibilities
            </span>
        </div>
        <div id="myname">
            <span>Hun Chang Cho</span>
        </div>
    </div>


    <div id="introduce">
        
        <div id="introducedesc">
            <span>Still Growing</span>
            <p>-My name is Hun Chang Cho, who dreams of becoming a full-stack developer and is growing.
                I am working on projects related to Python and ML / DL, and I am also working on projects and learning related to Web.</p>
        </div>
    </div>
    <div id="myskills">
        <span class="subtitle">My Skills</span>
        <div class="skill">
            <span class="skillname">Python</span>
            <span class="progressbar">
                <span class="gauge" per="95">
                </span>
            </span>
            <span class="skillper">95%</span>
        </div>

        <div class="skill">
            <span class="skillname">ML</span>
            <span class="progressbar">
                <span class="gauge" per="80">
                </span>
            </span>
            <span class="skillper">80%</span>
        </div>

        <div class="skill">
            <span class="skillname">DL</span>
            <span class="progressbar">
                <span class="gauge" per="70">
                </span>
            </span>
            <span class="skillper">70%</span>
        </div>

        <div class="skill">
            <span class="skillname">HTML</span>
            <span class="progressbar">
                <span class="gauge" per="90">
                </span>
            </span>
            <span class="skillper">90%</span>
        </div>

        <div class="skill">
            <span class="skillname">CSS</span>
            <span class="progressbar">
                <span class="gauge" per="80">
                </span>
            </span>
            <span class="skillper">80%</span>
        </div>

        <div class="skill">
            <span class="skillname">JavaScript</span>
            <span class="progressbar">
                <span class="gauge" per="55">
                </span>
            </span>
            <span class="skillper">55%</span>
        </div>
    </div>

</div>

{% endblock %}
